* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: sans-serif;
    text-decoration: none;
}
img{
    max-width: 100%;
}
:root{
    --dark-black: #080B12;
    --light-black: #141922;
    --bar-black: #282828;
    --light-grey: #7C7F83;
}
/* DEBUG */
.left-bar, .right-content, .bottom-player{
   /* border: red solid 1px;
    */
   /* padding: 50px;
    */
}
.bottom-player{
    padding-top: 12px;
}
.left-bar, .right-content, .bottom-player{
    position: fixed;
}
.fa-circle-user{
    font-size: 25px;
}
.bottom-player{
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--bar-black);
    height: 90px;
}
.left-bar{
    left: 0;
    width: 230px;
    height: calc(100vh - 90px);
    overflow: hidden;
    background-color: var(--dark-black);
}
.right-content{
    right: 0;
    top: 0;
    width: calc(100% - 230px);
    height: calc(100vh - 90px);
    overflow: auto;
    background-color: var(--light-black);
}
header figure{
    width: 65%;
}
.logo-small{
    display: none;
}
.white{
    color: white;
}
.fa-plus{
    background-color: var(--light-grey);
    color: #080B12;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 25px;
}
.container-leftbar{
    padding-left: 15px;
    padding-top: 20px;
    color: var(--light-grey);
}
.flex{
    display: flex;
}
.leftbar-margin{
    margin-top: 150px;
}
.flex-items{
    align-items: center;
}
.left-1sect{
    padding-top: 20px;
    font-size: 13px;
}
.padding-search{
    padding-top: 9px;
    font-size: 13px;
}
.directions{
    font-size: 13px;
    align-items: center;
    padding-left: 10px;
}
.align{
    align-items: center;
}
.sect2-leftbar{
    padding-top: 20px;
}
.padding-search1{
    padding-bottom: 10px;
}
/* DEBUG PLAYER */
.col-right-player, .col-left-player{
    width: 230px;
}
.col-middle-player{
    width: 350px;
    padding-top: 9px 
}
.row-player{
    justify-content: space-between;
}
.col-left-player{
    padding-top: 9px;
    padding-left: 6px;
}
.col-right-player{
    padding-top: 17px;
}
.sinister{
    align-items: center;
    padding-right: 15px;
}
.sinisterbuttons{
    padding-left: 20px;
    gap: 19px;
    color: lightslategray;
}
.font-size{
    font-size: 13px;
}
@media (max-width: 575px){
    .nome-playlist{
        display: none;
   }
    .leftbar-margin{
        margin-top: 404px;
   }
    .left-bar{
        width: 50px;
   }
    .right-content{
        width: calc(100% - 50px);
   }
    .logo-spoty{
        display: none;
   }
    .fa-house, .fa-magnifying-glass, .fa-lines-leaning{
        font-size: 18px;
   }
    .fa-circle-user{
        font-size: 22px;
        margin-left: -4px;
   }
    .sinisterbuttons{
        flex-wrap: wrap;
        row-gap: 1px;
   }
    .logo-small{
        display: block;
        width: 24px;
   }
   
}
/* PLAYER */
.buttons-player{
    justify-content: center;
    gap: 23px;
    font-size: 20px;
}

.button-play{
    font-size: 25px;
}


.player-line{
    height: 4px;
    background-color: var(--dark-black);
    flex-grow: 1;
    margin: 6px 10px;
    border-radius: 999px;
}
.player-overline{
    height: 4px;
    width: 40px;
    background-color: var(--light-grey);
    border-radius: 999px;
}
.time-bar{
    font-size: 12px;
}
/* PARTE A DESTRA MAIN CONTENT */
.header-upgrade{
    position: fixed;
    width: calc(100% - 230px);
    background-color: var(--dark-black);
    height: 100px;
}
.upgrade-link{
    text-decoration: none;
    display: flex;
    border: white solid 1px;
    width: 260px;
    height: 45px;
    border-radius: 999px;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}
.f-upgrade{
    display: flex;
    justify-content: flex-end;
    padding-top: 21px;
}
.link-main{
    color: var(--light-grey);
    padding-top: 125px;
    margin: 0 auto;
    width: 620px;
    gap: 20px ;
    font-size: 13px;
}
.l-grey{
    color: var(--light-grey);
}
.line-evidenza{
    width: 50%;
    background-color: greenyellow;
    height: 1px;
    margin: 0 auto;
}
.container-recently-played{
    flex-wrap: wrap;
    padding-right: 30px;
    padding-top: 30px;
}
.card-album{
    width: calc(100%/6);
    padding-right: 15px;
    width: 190px;
}

.big-container-main{
    padding-left: 25px;
    padding-top: 30px;
}

.row-dailymix{
    flex-wrap: wrap;
    padding-top: 20px;
}

.card-dailymix{
    width: 190px;
    padding-right: 15px;
}

.container-creatoper{
    padding-top: 25px;
}

.p-main-font{
    font-size: 13px;
    padding-top: 6px;
}

.txt-align{
    text-align: center;
}



/* HOVER */

.button-play:hover{
    font-size: 30px;
}
.l-grey:hover{
    text-decoration: white;
}